<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Document</title>
</head>
<body>
  <section class="nav">
    <h1>LISTE DES RESTAURANT</h1>
    <ul>
    <% for(var i = 0; i < list.length; i++ ) { %>
      <li><a href="/restaurant?id=<%= list[i].id %>">
        <%= list[i].attributes.name  %>
      </a></li>
    <% } %>
  </ul>
  </section>
</body>
</html>
