<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/restaurant.css">
  <title>Restaurant</title>
</head>
<body>
  <section class="carte">
    <h1>
      <%= data.attributes.name  %>
    </h1>
    <p><%= data.attributes.rate  %></p>
    <a href="">see more</a>
  </section>
</body>
</html>
