.nav h1{
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
}
.nav ul{
margin: 10px;
}
.nav ul li{
  background-color: antiquewhite;
  padding: 10px;
  margin: 5px;
  width: 15%;
  border-radius: 0px 0px 10px 10px;
  list-style: none;
  transition: 0.2s all ease-in-out;
}
.nav ul li:hover{
  width: 25%;
}
.nav a{
 text-decoration: none;
 color: red;
 font-size: 1.5rem;
}
