.carte{
  text-align: center;
  width: 50%;
  height: 350px;
  background-color: darkslateblue;
  line-height:  100px;
  margin: 0 auto;
}
.carte h1{
  font-size: 3rem;
}
.carte p{
  font-size: 1.5rem;
}
.carte a{
  background-color: antiquewhite;
  width: 40%;
  padding: 10px;
  border-radius: 15px;
}
